{% extends "base.html" %}
{% block content %}

<h3 class="header-text white-text center-align">Recipes!</h3>
<p class="text white-text" span style="background-color:rgb(5, 49, 5);">Are you ready to go AllVeggie?<br>
Take a look at our listed recipes below and see what takes your fancy...Or just add your own!</p></span>

<div class="row">
    <div class="col s12 center-align">
        <a href="{{ url_for('add_recipe') }}" class="waves-effect waves-light btn orange darken-4">
            Add Your Own Recipe <i class="fas fa-plus right"></i>
        </a>
    </div>
</div>

<ul class="collapsible">
    {% for recipe in recipes %}
    <li>
        <div class="collapsible-header white-text green darken-4">
            <i class="fas fa-caret-down"></i>
            <strong>{{ recipe.recipe_name }}</strong> 
            {% if recipe.is_vegan == True %}
                <i class="fas fa-leaf green-text text-lighten-2"></i>
            {% endif %}
        </div>
        <div class="collapsible-body">
            <strong>{{ recipe.category }}</strong>
            <p>{{ recipe.recipe_ingredients }}</p>
            <p>{{ recipe.recipe_method }}</p>
            <p>
                <a href="{{ url_for('edit_recipe', recipe_id=recipe.id) }}" class="button waves-effect waves-light btn green darken-1">Edit</a>
                <a href="{{ url_for('delete_recipe', recipe_id=recipe.id) }}" class="button waves-effect waves-light btn grey darken-3">Remove</a>
            </p>
        </div>
    </li>
    {% endfor %}
</ul>

{% endblock %}